$linkColor: royalblue;
$linkColorVisited: darkorchid;
$metaColor: dimgray;

/* CSS Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; }
img { border: 0; }

/* HTML Elements */
body {
  margin: 2rem 1rem;
}
@media all and (max-width: 480px){
  body {
    margin: 1.4rem 0.5rem;
  }
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  letter-spacing: -0.01rem;
}

h2 {
  margin-top: 1.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  letter-spacing: -0.01rem;
}

h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.01rem;
  text-decoration: underline;
}

ul,
ol {
  margin-bottom: 1rem;
  li {
    margin-left: 1.5rem;
  }
}

a {
  text-decoration: underline;
  color: $linkColor;
}

a:visited {
  color: $linkColorVisited;
}

p, span, a, li {
  line-height: 1.8;
  word-break: keep-all;
  vertical-align: baseline;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 1rem;
  background-color: ghostwhite;
  border-left: 8px solid;
  p {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

pre {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 1rem;
  line-height: 1.6;
  background-color: ghostwhite;
  white-space: pre-wrap;
}

hr {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
