code.highlighter-rouge {
  padding: 0 0.2rem;
  border-radius: 4px;
  color: dimgray;
  background-color: gainsboro;
}

.highlighter-rouge {
  pre.highlight {
    padding: 2rem;
    overflow-x: auto;
    code {
      word-break: keep-all;
      overflow: auto;
      white-space: pre;
    }
  }
  @media all and (max-width: 720px){
    pre.highlight {
      padding: 1rem;
    }
  }
}
