<div class="ttb-review-wrapper">
  <div class="ttb-review">
    <a href="http://www.aladin.co.kr/shop/wproduct.aspx?ItemId={{ page.aItemId }}&amp;ttbkey={{ site.aladin_ttbkey }}&amp;COPYPaper=1" target="_blank" title="show-this-book-at-bookstore"><img src="{{ page.aItemImageUrl }}" alt="book-cover" /><span class="hidden-text">Book cover image</span></a>
    <p class="ttb-outlink">
      <a href="http://www.aladin.co.kr/shop/wproduct.aspx?ItemId={{ page.aItemId }}&amp;ttbkey={{ site.aladin_ttbkey }}&amp;COPYPaper=1" target="_blank" title="show-this-book-at-bookstore">알라딘에서 책 정보 확인하기</a> »<br/>

    </p>
  </div>
  <p class="meta">알라딘 TTB 안내: 포스트의 링크에서 책을 구입하시면 저와 구매자에게 각각 1%의 적립금이 지급됩니다.</p>
</div>
