
<head>
  {% if site.google_analytics != "" %}
    {% include ga.html %}
    <script type="text/javascript" src="{{ '/assets/js/analytics.js' }}"></script>
  {% endif %}
  {% if site.mathjax == "enable" %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
