<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include head/custom.html %}
<body>
  <article class="global-wrapper">
    <header class="site-header">
      <a href="{{ '/' | relative_url }}" class="hard-anchor" title="main-page"><span>{{ site.title }}</span></a>
    </header>
    <section class="site-content">
      {{ content }}
    </section>
    <footer>
      <p class="copyright">
        &copy; {{ site.copyright_year }}.
        <a href="mailto://{{ site.author.email }}" class="hard-anchor" title="mailto">{{ site.author.name }}</a> ALL RIGHTS RESERVED.
        Follow via <a href="/feed.xml" title="rss">rss</a>
      </p>
    </footer>
  </article>
</body>
</html>
